.vscode/**
.vscode-test/**
src/**
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
.gitignore
node_modules/.bin/**
node_modules/.package-lock.json
node_modules/**/*.md
node_modules/**/*.map
node_modules/**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/.github/**
node_modules/**/LICENSE*
node_modules/**/CHANGELOG*
